#root {
  background-color: #c77dff;
}

bdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  min-width: 700px;
  background-color: #3c096c;
  flex-direction: column;
  color: white;

}
button{
  margin-top: 20px ;
}